<div class="text-center" style="padding:30px 0">
  <h1>Edit Profile</h1>
  <hr>
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
        <% end %>
    </div>

  <hr>

  <%= link_to 'Back', user_path(@user), class: "btn btn-primary" %>

</div>
