<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>

 <body>
   <h1> Congratulation! You have received a booking from <%= @customer.email %> </h1>

   <p>
     View details of this reservation here: 
   </p>
 </body>
</html>
